*{
    /* background-color: red;; */
}

.open-sans-normal {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

/* Shared Style */

.secondary_bg {
    background-color: #FFF8F3;
    animation: lightColorChange 6s infinite;
    transition: background-color 1s ease-in-out;
}

.text_primary {
    color: #FD6E0A;
}

.btn_primary {
    background-color: #FD6E0A;
    color: white;
    padding: 18px 35px;
    border: none;
    font-weight: bold;
    font-size: 20px;
    /* width: 150px;
    height: 64px; */
    border-radius: 5px;
}

.btn_secondary {
    margin-top: 50px;
}

.text_align {
    text-align: center;
}



hr {
    height: 3px;
    border: none;
    animation: changeColor 6s infinite;
}

/* Animation keyframes */
@keyframes changeColor {
    0% {
        background-color: rgb(34, 255, 0);
    }

    33% {
        background-color: blue;
    }

    66% {
        background-color: green;
    }

    100% {
        background-color: rgb(0, 255, 4);
    }
}

/* Header Style */

.header {
    background-image: url('../images/developer.png'), url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom left, bottom right;
    background-position: left calc(100% - 90px), right calc(100% - 0px);
    /* background-color: aqua; */
    /* background-color: #FFF8F3; */
}

/* Navigation Style */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
}

.nav_title {
    font-weight: 800;
    font-size: 45px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    list-style: none;
    margin-right: 50px;
}

nav ul li a {
    text-decoration: none;
}

.dark_2 {
    color: #474747;
}

/* Banner Styles */

.banner {
    display: flex;
    justify-content: space-between;
    margin: 0 0 0 200px;
    /* background-color: #FFF8F3; */
}

.banner_content {
    max-width: 790px;
    /* max-width: 500px; */
    /* background-color: aqua; */
}

.banner_greeting {
    font-size: 35px;
    font-weight: 600;
}
.banner_image {
    width: 600px;
    /* margin-bottom: 81px; */
}
.banner_title {
    font-size: 55px;
    font-weight: bold;
    color: #181818;
}

.banner_description {
    color: #757575;
    font-weight: normal;
    font-size: 18px;
    margin-bottom: 45px;
}

/* section styles start */

main {
    max-width: 1140px;
    margin: 0 auto;
}

main section {
    margin-top: 130px;
    margin-bottom: 130px;
}

/* about section styles */
.about {
    border-radius: 10px;
    margin-top: 130px;
    padding: 100px 120px;
    text-align: center;
}

.section_title {
    color: #181818;
    font-weight: bold;
    font-size: 35px;
    /* text-align: center; */
}

.section_description {
    text-align: center;
    color: #757575;
    font-size: 18px;
}

.about_items {
    display: flex;
    justify-content: space-around;
}

/* .about_item{

} */
.about_title {
    color: #757575;
    font-size: 20px;
}

.about_description {
    color: #474747;
    font-size: 20px;
    font-weight: bold;
}

/* Skills Sections */
.skills {}

.skills_container {
    display: flex;
    /* justify-content: space-around; */
    gap: 24px;
}

.skill {
    padding: 30px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.10);
    border-radius: 30px 0px 30px 0px;
    animation: lightColorChange 6s infinite;
    /* transition: background-color 1s ease-in-out; */
    transition: all 0.4s ease-in-out;
    animation-play-state: running;
}

.skill:hover {
  background-color: #f9f9ff;
  transform: scale(1.10);
  box-shadow: 0px 8px 60px rgba(0, 0, 0, 0.15);

  animation-play-state: paused;
}

@keyframes lightColorChange {
    0% {
        background-color: #ffe4e1;
    }

    /* light pink */
    25% {
        background-color: #e0ffff;
    }

    /* light cyan */
    50% {
        background-color: #f0fff0;
    }

    /* honeydew */
    75% {
        background-color: #ffffe0;
    }

    /* light yellow */
    100% {
        background-color: #ffe4e1;
    }

    /* back to light pink */
}

.skill_title {
    font-weight: bold;
    font-size: 20px;
}

.skills_section_description {
    margin: 0px 130px 40px 130px;
}

.skill_description {
    font-size: 16px;
    color: #757575;
}

/* Resume Styles Start */

.resume {}

.resume_section_title {}

.resume_container {
    display: flex;
    gap: 24px;
}

.resume_column {}

.resume_column_title {
    font-size: 30px;
    font-weight: bold;
    color: #474747;
}

.experience {}

.experience_title {
    font-size: 25px;
    font-weight: bold;
    color: #474747;
}

.experience_sub_title {
    font-size: 20px;
    font-weight: 500;
    color: #757575;
}

.experience_description {
    font-size: 16px;
    color: #757575;

}

/* footer styles */
footer{
    padding: 120px 210px;
    display: flex;
    gap: 115px;
}
.footer_column{
    width: 50%;
}
.footer_description{
    color: #474747;
    font-size: 16px;
}
.footer_social_icons{
    
}
footer input[type="text"], footer input[type="email"], footer textarea{
    font-size: 16px;
    height: 35px;
    border-radius: 5px;
    background-color: white;
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 24px;
    border: none;
}
footer textarea{
    font-size: 16px;
    height: 120px;
    border-radius: 5px;
    background-color: white;
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 24px;
    border: none;
}